[push]
	default = simple
[alias]
	push-u = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
	amend = commit --amend --no-edit
    fixup = commit --fixup
	undo-commit = reset --hard HEAD^
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
